<h1 crm-page-title>{{ts('Organization Dashboard for %1', {1: name})}}</h1>

<md-nav-bar
  nav-bar-aria-label='Organization dashboard navigation links'
  md-selected-nav-item="selectedNavItemName">
  <md-nav-item name="org" md-nav-sref=".org">
    {{ts('Organization Details')}}
  </md-nav-item>
  <md-nav-item name="contacts" md-nav-sref=".contacts">
    {{ts('Contacts and Benefits')}}
  </md-nav-item>
  <md-nav-item name="txn" md-nav-sref=".txn">
    {{ts('Transaction History')}}
  </md-nav-item>
</md-nav-bar>
<div ui-view></div>
