/* Styles specific to the dash.contacts state. */

#orgdash-contact-screen {
  overflow: hidden;
  position: relative;
  transition-property: height;
  transition-duration: 0.5s;
}

#orgdash-contact-detail {
  overflow-y: hidden;
  max-width: unset;
  width: 75%;
}

#orgdash-contact-detail div[crm-render-field],
#orgdash-contact-detail .orgdash-relationships {
  margin-left: 10px;
  margin-right: 10px;
}
