.ng-enter,
.ng-leave,
.ng-move {
  transition: 0.5s linear all;
}

.ng-enter,
.ng-move {
  height: 0;
  opacity: 0;
}

.ng-enter.ng-enter-active,
.ng-move.ng-move-active {
  height: 100%;
  opacity: 1;
}

.ng-leave {
  opacity: 1;
}

.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
}